<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.StudentRepository">

  <!-- INSERT 文 -->
  <insert id="insertStudent" parameterType="com.example.model.Student">
    INSERT INTO student (
    name, kana_name, nickname, email, area, age, sex, remark
    ) VALUES (
    #{name}, #{kanaName}, #{nickname}, #{email},
    #{area}, #{age}, #{sex}, #{remark}
    )
  </insert>

</mapper>